
@{
    
    Layout = "~/Views/Shared/Layout.cshtml";
}

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-4 text-gray-800">PAGINA DE CADASTRO</h1>

</div>
<!-- /.container-fluid -->
